<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="prosonle">
        
    </div>
   <div>
    <h1>ADD Product</h1>
    <form action="/product" method="POST">
        <label for="title">Name:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="rating">rating:</label>
        <input type="number" id="rating" name="rating"><br><br>
        <label for="year">year:</label>
        <input type="number" id="year" name="year"><br><br>
        <label for="image">image:</label>
        <input type="file" id="image" name="image"><br><br>
        <input type="submit" value="submit">
    </form>    
   </div>
</body>
</html>